/* ************** */
/* LOGO */
/* ************** */

.header__logo{
    h1{
        font-size: 2.4rem;
    }
}

/* ************** */
/* SEARCH */
/* ************** */

.search {
    flex: 0 0 40%;
    background-color: $white-color;
    border-radius: 5px;
    position: relative;
    padding: 1rem 0;
    padding-left: 1rem;
    margin: 2rem 0;

    @media only screen and (max-width: $breakpoint-4) {
        flex: 0 0 100%;
        order: 1;
      } 

    &__input{
        width: 90%;
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__button{
        position: absolute;
        top: 0;
        right: 0;
        width: 10rem;
        height: 100%;
        font-size: 1.7rem;
        border: none;
        cursor: pointer;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }
}
    
  
/* ************** */
/* LINKS */
/* ************** */
  
.links {
    display: flex;
    align-self: stretch;
    gap: 2.4rem;

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.6rem;
        cursor: pointer;
      
        transition: all 0.2s;

        &:hover{
            background-color: $white-color;
            color: $dark-color;
        }

        @media only screen and (max-width: $breakpoint-4) {    
            padding: 1.6rem;
          } 
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: inherit;
        }
    }
}
  
  
/* ************** */
/* SIDEBAR-BOOKMARKS */
/* ************** */

#bookmarks {
    position: relative;
}
  
.sidebar__list--bookmarks {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white-color;
    z-index: 999;
    width: 40rem;
    color: $dark-color;
    margin-top: 7rem;
    max-height: 60vh;
    overflow: scroll;
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  
    transition: all 0.4s;

    @media only screen and (max-width: $breakpoint-4) {    
        margin-top: 4.6rem;
      } 
}
  
#bookmarks:hover .sidebar__list--bookmarks {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

/* ************** */
/* SIDEBAR */
/* ************** */

.sidebar{

    &__list{
        margin-bottom: 4.8rem;

        @media only screen and (max-width: $breakpoint-4) {    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          } 
    }

    &__item{
        padding: 1.6rem;
  
        transition: all 0.2s;

        &:hover,
        &--active{
            background-color: $grey-color;
        }
    }

    &__item:hover &__link,
    &__item--active &__link{
        transform: translateY(-5px);
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 2rem;
      
        transition: all 0.3s;
    }

    &__photo{
        display: block;
        max-width: 5rem;
        width: 100%;
        height: 5rem;
        border-radius: 50%;
        object-position: center;
    }

    &__title{
        font-size: 1.6rem;
        text-transform: capitalize;
        line-height: 1.25;
        letter-spacing: 1px;
        margin-bottom: .8rem;
      
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__description{
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 2px;
      
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
  
  
/* ************** */
/* PAGINATION */
/* ************** */
  
.pagination {
    margin-bottom: 4.8rem;
    padding:0 2.4rem;

    &::after {
        content: '';
        display: table;
        clear: both;
      }

    &__btn{
        border: none;
        background: none;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid rgba($dark-color, 0.7);
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;
        
        &--prev{
            float: left;
        }

        &--next{
            float: right;
        }
    }
}

/* ************** */
/* BOOKMARK-BTN */
/* ************** */

.film-container{
    position: relative;
}

.bookmark-btn{
    position: absolute;
    top:32.4rem;
    right: 2.4rem;
    border:none;
    background: none;
    cursor: pointer;
    
    svg{
        width:3.2rem;
        height: 3.2rem;
    }
}
  
/* ************** */
/* FILMS IMAGE */
/* ************** */
  
.film-image {
    width: 100%;
    height: 30rem;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba($dark-color, 0.7),
          rgba($white-color, 0.7)
        );
    }

    &__photo{
        height: 100%;
        width: 100%;
    }

    &__name{
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(50%, 50%);
        display: inline-block;
        padding: 4px 1.6rem;
        background-color: $dark-color;
        color: $white-color;
        font-size: 2.4rem;
        text-transform: capitalize;
    }
}
  
  
/* ************** */
/* FILMS DETAILS */
/* ************** */
  
.film-details {
    margin-top: 5.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2.4rem;
    padding: 0 1.6rem;

    @media only screen and (max-width: $breakpoint-3) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $breakpoint-4) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__detail{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }

    span{
        font-size: 1.4rem;
    }
}
  
  
/* ************** */
/* DETAILS-STAR */
/* ************** */
  
.details-stars {
    margin: 6.4rem 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;

    & svg{
        cursor: pointer;
      }
}
  
/* ************** */
/* DETAILS-PLOT */
/* ************** */
  
.details-plot {
    padding: 0 4.8rem;
    font-size: 1.4rem;
    line-height: 1.6;
}
  
/* ************** */
/* DETAILS-ACTORS */
/* ************** */
  
.details-actors {
    margin: 2.4rem 0 5.6rem;
    padding: 3.2rem 0;
    background-color: $dark-grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 1.6rem;

    &__actor{
        display: flex;
        align-items: center;
        gap:.4rem;

        span{
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}
  
/* ************** */
/* DETAILS-BUTTON */
/* ************** */
  
.details-button {
    text-align: center;
    margin-bottom: 2.4rem;

    &__link{
        &:link,
        &:visited{
            padding: 1rem 4rem;
            background-color: $primary-color;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}

/* ************** */
/* ADD FORM POPUP */
/* ************** */
  
.add-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    z-index:1000;
  
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    @media only screen and (max-width: $breakpoint-3) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.add-popup.target{
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
}
  
.add-form {
    width: 80%;
    margin: 9.6rem auto;
    background-color: $grey-color;
    padding: 3.2rem;

    box-shadow: 0 2.4rem 4.8rem rgba($dark-color, 0.3);

    transform: translatY(-8rem);
    
  
    position: relative;

    @media only screen and (max-width: $breakpoint-3) {
        width: 95%;
        margin: 0;
    }

    &__title{
        font-size: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
    }

    &__inputs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        margin-bottom: 2.4rem;

        input{
            font-family: inherit;
            padding: 1.2rem;
            font-size: 1.4rem;
            border: none;

            &:focus{
                outline: none;
            }
        }
    }

    &__center{
        text-align: center;
    }

    &__btn{
        border: none;
        background-color: $primary-color;
        padding: 1rem 3rem;
        cursor: pointer;
    }

    &__close{
        position: absolute;
        top: 4px;
        right: 8px;
        font-size: 3.2rem;
        cursor: pointer;
    }
} 

.add-popup.target .add-form{
    transform: translateY(0);
}
  

/* ************** */
/* MESSAGE */
/* ************** */
  
.message {
    .message-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:2.4rem;
        font-size: 1.8rem;
        line-height: 1.5;
    }
}
  
  
/* ************** */
/* SPINNER */
/* ************** */
  
.spinner {
    margin: 5rem auto;
    text-align: center;
    z-index: 1001;

    svg{
        height: 6rem;
        width: 6rem;
        fill: $primary-color-2;
        animation: rotate 2s infinite linear;
    }
}
  
  
@keyframes rotate {
    0% {
      transform: rotate(0);
  }
  
    100% {
      transform: rotate(360deg);
  }
}